.profile__btn {
  background: #000;
  font-size: 0;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: opacity .2s linear;
}

.profile__btn:hover {
  opacity: .6;
}
