
.profile__info {
  display: grid;
  column-gap: 19px;
  row-gap: 9px;
  max-width: 336px;
  grid-template-areas:
  "title title btn"
  "subtitle subtitle subtitle";
}

@media screen and (max-width: 425px) {
  .profile__info {
    text-align: center;
    max-width: 282px;
    grid-template-columns: 18px 1fr 18px;
    column-gap: 9px;
    row-gap: 5px;
    grid-template-areas:
    ". title btn"
    ". subtitle .";
  }
}
/* .profile__info {
  display: flex;
  flex-wrap: wrap;
  gap: 9px;
  max-width: 336px;
  align-items: center;
}

@media screen and (max-width: 690px) {
  .profile__info {
    max-width: 282px;
  }
} */
